<?php

$configs = include(realpath(__DIR__ . '/../') . '/global.php');
ini_set('display_errors', true);

/**
 * Logger
 */
$configs['logger']['default_level'] = \Monolog\Logger::DEBUG;

return $configs;
